LOADING THE DATASET

In [1]:
#imports required libraries
import pandas as pd
import os

In [8]:
#defining the file  path
raw_data_path = os.path.join("data","raw","LoanDataset.csv")

In [10]:
# Update the file path
raw_data_path = r"C:\Users\pcric\Desktop\SPRING 2025\PRACTICAL DATASCIENCE\Loan_Default_Prediction\Loan_Default_Prediction\data\raw\LoanDataset.csv"

# Load the dataset
Loan_data = pd.read_csv(raw_data_path)

In [12]:
# Display basic infor mation of the dataset
print("Dataset Overview")
print(Loan_data.info())

Dataset Overview
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32586 entries, 0 to 32585
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          32583 non-null  float64
 1   customer_age         32586 non-null  int64
 2   customer_income      32586 non-null  object
 3   home_ownership       32586 non-null  object
 4   employment_duration  31691 non-null  float64
 5   loan_intent          32586 non-null  object
 6   loan_grade           32586 non-null  object
 7   loan_amnt            32585 non-null  object
 8   loan_int_rate        29470 non-null  float64
 9   term_years           32586 non-null  int64
 10  historical_default   11849 non-null  object
 11  cred_hist_length     32586 non-null  int64
 12  Current_loan_status  32582 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.2+ MB
None

In [13]:
# show first few rows

In [14]:
Loan_data.head()

,customer_id,customer_age,customer_income,home_ownership,employment_duration,loan_intent,loan_grade,loan_amnt,loan_int_rate,term_years,historical_default,cred_hist_length,Current_loan_status
0,1.0,22,59000,RENT,123.0,PERSONAL,C,"£35,000.00",16.02,10,Y,3,DEFAULT
1,2.0,21,9600,OWN,5.0,EDUCATION,A,"£1,000.00",11.14,1,NaN,2,NO DEFAULT
2,3.0,25,9600,MORTGAGE,1.0,MEDICAL,B,"£5,500.00",12.87,5,N,3,DEFAULT
3,4.0,23,65500,RENT,4.0,MEDICAL,B,"£35,000.00",15.23,10,N,2,DEFAULT
4,5.0,24,54400,RENT,8.0,MEDICAL,B,"£35,000.00",14.27,10,Y,4,DEFAULT

HANDLING MISSING VALUES AND DATATYPES CONVERSION

In [16]:
df=Loan_data

In [17]:
# Convert customer_income & loan_amnt to numeric (remove currency symbols)
df['customer_income'] = df['customer_income'].astype(str).str.replace('£', '').str.replace(',', '').astype(float)
df['loan_amnt'] = df['loan_amnt'].astype(str).str.replace('£', '').str.replace(',', '').astype(float)

In [ ]:
# Convert categorical variables
df['historical_default']=df['historical_default'].map({'No':0,'Yes':1})
df['Current_loan_status']=df['Current_loan_status'].map({'DEFAULT':1,'NO DEFAULT':0})

In [19]:
# Handle missing values
df.fillna({
    'employment_duration':df['employment_duration'].median(),
    'loan_int_rate':df['loan_int_rate'].median(),
    'historical_default':0, # Here we assume that if the historical default is missing, then the customer has no historical default
    'Current_loan_status':0, # Here we assume that if the current loan status is missing, then the customer has no default  
}, inplace=True)

In [21]:
print("Data Cleaning Completed ")
print(df.info())
df.head()

Data Cleaning Completed
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32586 entries, 0 to 32585
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          32583 non-null  float64
 1   customer_age         32586 non-null  int64
 2   customer_income      32586 non-null  float64
 3   home_ownership       32586 non-null  object
 4   employment_duration  32586 non-null  float64
 5   loan_intent          32586 non-null  object
 6   loan_grade           32586 non-null  object
 7   loan_amnt            32585 non-null  float64
 8   loan_int_rate        32586 non-null  float64
 9   term_years           32586 non-null  int64
 10  historical_default   32586 non-null  float64
 11  cred_hist_length     32586 non-null  int64
 12  Current_loan_status  32586 non-null  float64
dtypes: float64(7), int64(3), object(3)
memory usage: 3.2+ MB
None

,customer_id,customer_age,customer_income,home_ownership,employment_duration,loan_intent,loan_grade,loan_amnt,loan_int_rate,term_years,historical_default,cred_hist_length,Current_loan_status
0,1.0,22,59000.0,RENT,123.0,PERSONAL,C,35000.0,16.02,10,0.0,3,1.0
1,2.0,21,9600.0,OWN,5.0,EDUCATION,A,1000.0,11.14,1,0.0,2,0.0
2,3.0,25,9600.0,MORTGAGE,1.0,MEDICAL,B,5500.0,12.87,5,0.0,3,1.0
3,4.0,23,65500.0,RENT,4.0,MEDICAL,B,35000.0,15.23,10,0.0,2,1.0
4,5.0,24,54400.0,RENT,8.0,MEDICAL,B,35000.0,14.27,10,0.0,4,1.0

SAVING THE CLEAND DATASET

In [27]:
# Define file path for processed data
processed_data_path = r"C:\Users\pcric\Desktop\SPRING 2025\PRACTICAL DATASCIENCE\Loan_Default_Prediction\Loan_Default_Prediction\data\processed\cleaned_loans.csv"

In [29]:
#save the processed data
df.to_csv(processed_data_path, index=False)
print(f"Cleaned dataet saved succesfuly and at {processed_data_path}")

Cleaned dataet saved succesfuly and at C:\Users\pcric\Desktop\SPRING 2025\PRACTICAL DATASCIENCE\Loan_Default_Prediction\Loan_Default_Prediction\data\processed\cleaned_loans.csv