In [ ]:
# ðŸ“¦ Import libraries
import pandas as pd

# Load the cleaned dataset
df = pd.read_csv("../data/processed/cleaned_loans.csv")

# Drop rows with any missing values (only 1 in loan_amnt)
df.dropna(inplace=True)

# Drop customer_id (not useful for modeling)
df.drop(columns=['customer_id'], inplace=True)

# Rename target column for clarity
df.rename(columns={'Current_loan_status': 'loan_default'}, inplace=True)

# Encode categorical features using one-hot encoding
categorical_cols = ['home_ownership', 'loan_intent', 'loan_grade']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Save the final, model-ready dataset
df.to_csv("../data/processed/feature_ready_loans.csv", index=False)

# Check the result
print("âœ… Feature engineering complete. Final dataset shape:", df.shape)
df.head()

âœ… Feature engineering complete. Final dataset shape: (32582, 21)

,customer_age,customer_income,employment_duration,loan_amnt,loan_int_rate,term_years,historical_default,cred_hist_length,loan_default,home_ownership_OTHER,...,home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E
0,22,59000.0,123.0,35000.0,16.02,10,0.0,3,1.0,False,...,True,False,False,False,True,False,False,True,False,False
1,21,9600.0,5.0,1000.0,11.14,1,0.0,2,0.0,False,...,False,True,False,False,False,False,False,False,False,False
2,25,9600.0,1.0,5500.0,12.87,5,0.0,3,1.0,False,...,False,False,False,True,False,False,True,False,False,False
3,23,65500.0,4.0,35000.0,15.23,10,0.0,2,1.0,False,...,True,False,False,True,False,False,True,False,False,False
4,24,54400.0,8.0,35000.0,14.27,10,0.0,4,1.0,False,...,True,False,False,True,False,False,True,False,False,False